<html>
	<head>
		<title>Chat Test - {{ room }} </title>
		<script type="text/javascript">
			var token = "{{ token }}";
			var room = "{{ room }}";
		</script>
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script type="text/javascript" src="/js/chat.js"></script>
	</head>
	<body>
		<textarea rows="24" id="chatlog" readonly="readonly" style="width:100%; border: 1px solid black;" >{{ chatlog }}</textarea>
		<form id="form1">
			<input type="text" id="msg" name="msg" maxlength="30000" style="float:left; width:90%; border: 1px solid black;"/>
		    <input type="submit" id="send" value="send" disabled="disabled" style="float:right; width:10%; border: 1px solid black;" />
		</form>
	</body>
</html>
